html {
  scroll-behavior: smooth;
}
/*Fondo completo*/
body {
    margin: 0;
     background-color: #0C265F
}
/* ===== SIDEBAR ===== */

/* FOTO Mia */
.small-photo {
  width: 150px;
  display: block;
  margin: 0 0.3 0.3rem;
  border-radius: 12px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background: linear-gradient(to bottom, #281E98, #194B69);
  padding: 1.3rem 1rem;
  box-shadow: 8px 0 20px rgba(0,0,0,0.4);
}

/* LINKS */
.nav-item {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.95rem;
  font-style: italic;
  margin: 0.85rem 0;
}

.nav-link {
  color: beige;
  line-height: 1.2;
  text-decoration: none;
}

/* CONTENT */
.content {
  margin-left: 260px;
  padding: 3rem;
}

.sections{
    padding: 4rem 3rem;
    display: flex;
    align-items: center;
}

.hero-title {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

.nombre {
    color: white;
}

.Apellido-titles {
    color: #39f5e6; 
    margin-left: .5rem;
    font-size: 2.5rem;
}

.hero-subtitle {
    color: #ffb347;
    font-size: 1.5rem;
    margin-top: 1rem;

}

.hero-text {
    color: #ffffff;
    margin-top: .5rem;
    font-size: 1.5rem;
}
.btn-cv {
    display: inline-block;
    margin-top: 1.5rem;
    padding: .75rem 1.5rem;
    background-color: #39f5e6;
    color: #0C265F;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.0rem;
}

.buttons {
    display: flex;
    gap: 1rem;            
}

.buttons img {
    width: 75px;          
    height: 75px;
    object-fit: cover;

    border-radius: 50%;  
    background-color: #ffb347; 
    padding: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.description{
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-top: .5rem;
    font-size: 1.0rem;

}
.btn-cert{
 display: inline-block;
    margin-top: 1.5rem;
    padding: .75rem 1.5rem;
    background-color: #39f5e6;
    color: #0C265F;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5rem;
}   
.section-about{
min-height: 100vh;
    display: flex;
    align-items: center;

}
.tool-card{
    align-items: center;
    width: 70px;
    height: auto;
    max-width: 350px; 
}

.container-carousel{
    display: flex;
    align-items: center;
    max-width: 300px;
    border-radius: 15px;
    height: auto;
}
.imagenes-carousel{
max-width: 300px;
    border-radius: 15px;
    height: auto;
    display: none;
}
.img-carousel-active{
    display: block;
}


/* ===== PORTFOLIO ===== */
/* ===== Carrusel ===== */

.portfolio-section {
  margin-top: 5rem;
  text-align: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

/* IMAGEN */

.carousel-frame {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.carousel-image {
  width: 100%;
  height: auto;
  max-height: 300px;    
  object-fit: contain;
}


.carousel-btn:hover {
  transform: scale(1.25);
  color: #ffb347;
}


/* Botones */
.carousel-btn {
  position: relative;   
  z-index: 10;  
  background: transparent;
  border: none;
  color: #39f5e6;
  font-size: 6rem;
  cursor: pointer;
}

/* Caja amarilla */

.portfolio-info {
  margin: 1.5rem auto 0;
  background-color: #FFD700;
  padding: 1.2rem 5.8rem; /* ⬅️ más ancho que alto */
  border-radius: 30px;
  max-width: 680px;     /* ⬅️ más larga */
}


.tech-title {
  font-size: 1.0rem;
  font-weight: bold;
  color: #0C265F;
}

/* Tecnologías */
.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0;
}

.tech-chip {
  display: flex;
  align-items: center;
  gap: .5rem;
  background: #5E5252;
  color: white;
  padding: .4rem .8rem;
  border-radius: 50px;
  font-size: .8rem;
}

.tech-chip img {
  width: 20px;
}

/* Botón */
.btn-vermas {
  display: inline-block;
  background-color: #39f5e6;
  color: #0C265F;
  font-weight: bold;
  padding: 0.8rem 1.0rem;
  border-radius: 20px;
  font-size: 1.0 rem;
  text-decoration: none;
}

.carousel-btn {
  min-width: 48px;
  min-height: 48px;
}

/* ===== MODAL ===== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  background: #0C265F;
  padding: 2rem 2.5rem;
  border-radius: 20px;
  max-width: 700px;
  width: 90%;
  color: white;
  text-align: center;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2.5rem;
  cursor: pointer;
  color: #39f5e6;
}

.modal-content h2 {
  color: #39f5e6;
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.0rem;
  line-height: 1.6;
}

.education-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
}

.education-text p {
  color: #ffb347;
  font-size: 2rem;
  margin: 0;
}

.education-text span {
  color: #ffffff;
  font-size: 1.6rem;
}

.btn-certificado {
  background-color: #39f5e6;
  color: #0C265F;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.6rem;
  transition: transform .2s ease, box-shadow .2s ease;
}

.btn-certificado:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0,0,0,.3);
}


/* ===== BOTONES – EFECTO GENERAL ===== */
.btn-cv,
.btn-vermas,
.btn-certificado,
.btn-cert,
.carousel-btn {
  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background-color 0.25s ease;
}

/* Hover elegante */
.btn-cv:hover,
.btn-vermas:hover,
.btn-certificado:hover,
.btn-cert:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}
.buttons img:hover {
  transform: scale(1.15);
  box-shadow: 0 10px 25px rgba(0,0,0,.4);
}
.skills-subtitle {
    margin-top: 70px;
    margin-bottom: 20px;
    color: #ffffff;
    letter-spacing: 2px;
}

.skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
}

.skill-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(255,255,255,0.15);
    padding: 10px 16px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease;
    font-size: 34px;  
    font-weight: 500;
    color: #fff;

}

.skill-card img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.skill-card:hover {
    transform: translateY(-5px) scale(1.05);
    background: rgba(255,255,255,0.25);
}


.contact-buttons {
    display: flex;
    gap: 16px;
    margin: 25px 0;
}

.contact-btn {
    padding: 12px 26px;
    border-radius: 18px;
    background: #7faec2;
    color: #0C265F;
    font-size: 20px;     
    font-weight: 600;
    text-decoration: none;
    transition: all 0.25s ease;
}
.contact-btn.linkedin { background: #0A66C2; color: white; }
.contact-btn.whatsapp { background: #25D366; color: white; }
.contact-btn.gmail { background: #EA4335; color: white; }


.contact-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,.35);
}

.tech-used-title {
    margin-top: 40px;
    color: #ffb347;
    font-size: 2rem;
}

.tech-used {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    flex-wrap: wrap;
}

#contacto {
    min-height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem; 
}
/* ===== CERTIFICACIONES ===== */
.certifications {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.cert-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cert-item p {
    color: #ffb347;
    font-size: 2rem;
    margin: 0;
    max-width: 70%;
}

.sections {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* controla TODO el espacio vertical */
}
.contact-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

/* ===== TITULOS ANIMADOS ===== */
.Apellido-titles {
    position: relative;
    display: inline-block;
    animation: titleReveal 6s infinite;
}

/* Aparición completa */
@keyframes titleReveal {
    0% {
        opacity: 0;
        letter-spacing: 20px;
    }

    20% {
        opacity: 1;
        letter-spacing: 2px;
    }

    60% {
        opacity: 1;
        letter-spacing: 2px;
    }

    100% {
        opacity: 0.85;
    }
}

/* CAPA GLITCH */
.Apellido-titles::after {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    color: #ffb347;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    animation: glitchLetters 6s infinite;
    pointer-events: none;
}

/* Letras que desaparecen parcialmente */
@keyframes glitchLetters {
    0%,
    40% {
        clip-path: inset(0 0 0 0);
        opacity: 0;
    }

    60% {
        clip-path: inset(0 35% 0 0);
        opacity: 0.7;
    }

    70% {
        clip-path: inset(0 0 0 40%);
        opacity: 0.5;
    }

    100% {
        clip-path: inset(0 0 0 0);
        opacity: 0;
    }
}

.navbar-collapse {
    background-color: #212529;
    padding: 1rem 1.5rem;
    border-radius: 0 0 15px 15px;
}

/*a {
    pointer-events: auto !important;
    position: relative;
    z-index: 999999;
}*/
